<div class="container">
  <div class="search-box">
    <input class="search-txt" type="text" name="" id="num" placeholder="#ID Paciente..">
    <a class="btn btn-primary" (click)="buscarPaciente(); show=false" >Buscar</a>

  </div>
</div>


<div class="container stylePaciente" *ngIf="type==1">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Estado</th>
          </tr>

          <tr>
            <th scope="row">{{miPaciente.id}} </th>
            <td>{{miPaciente.nombre}} </td>
            <td>{{miPaciente.ciudad}} </td>
            <td>{{miPaciente.estado}} </td>
          </tr>
        </thead>
      </table>
      <button class="btn btn-primary" (click)="show=true"> Agregar Solicitud </button>
</div>


<div class="container stylePaciente" *ngIf="type==2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Estado</th>
      </tr>

      <tr>
        <th scope="row">{{miPaciente.id}} </th>
        <td>{{miPaciente.nombre}} </td>
        <td>{{miPaciente.ciudad}} </td>
        <td>{{miPaciente.estado}} </td>
      </tr>
    </thead>
  </table>
  <p class="text-danger">El Paciente esta inactivo, no se puede crear una solicitud</p>
</div>

<div class="container stylePaciente" *ngIf="type==3">
  <p class="text-danger">El Paciente que intenta buscar no existe o se ingreso un numero de ID incorrecto, ingrese otro numero de identidad o agregue un nuevo paciente con este numero de ID</p>
</div>


<div id = "form" class="container styleSolicitud" *ngIf = "show">
  <div class="d-flex justify-content-center">
    <h1 style="margin-bottom: 2%; margin-top: 2%;">Agregar Solicitud de Donación</h1>
  </div>
  <form #claseForm="ngForm" action="/">
    <!-- Ingreso de Solicitud -->
    <div class="d-flex justify-content-center styleFormElem">
        <div
          class="form-floating sm-3 col-md-8"
          [ngClass]="{
            error:
              claseForm.controls.solicitud?.invalid &&
              claseForm.controls.solicitud?.touched
          }"
        >
          <textarea
            [(ngModel)]="solicitud"
            type="text"
            class="form-control"
            id="solicitud"
            name="solicitud"
            rows="4" 
            placeholder="Solicitud"
            required
          ></textarea>
          <label for="solicitud">Solicitud</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.solicitud?.invalid &&
              claseForm.controls.solicitud?.touched
            "
            >*Una solicitud es requerida</em
          >
        </div>
      </div>

      <!-- Ingreso de Descripcion -->
    <div class="d-flex justify-content-center styleFormElem">
        <div
          class="form-floating sm-3 col-md-8"
          [ngClass]="{
            error:
              claseForm.controls.descripcion?.invalid &&
              claseForm.controls.descripcion?.touched
          }"
        >
          <textarea
            [(ngModel)]="descripcion"
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            rows="4" 
            placeholder="Descripcion"
            required
          ></textarea>
          <label for="descripcion">Descripción del caso</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.descripcion?.invalid &&
              claseForm.controls.descripcion?.touched
            "
            >*Una descripción del caso es requerida</em
          >
        </div>
    </div>

    <div class="d-flex justify-content-center styleFormElem">

      <!--prioridad-->
      <div
        class="form-floating sm-3 col-md-3"
        [ngClass]="{
          error:
            claseForm.controls.prioridad?.invalid &&
            claseForm.controls.prioridad?.touched
        }"
      >
        <select 
          [(ngModel)]="prioridad"
          id = "floating input" 
          class="form-select"
          id="floatingInput"
          name="prioridad"
          placeholder="Prioridad"
          required
        >
          <option value="Alta">Inmediata</option>
          <option value="Media">Alta</option>
          <option value="Baja">Baja</option>
        </select>

        <label for="floatingInput" style="margin-left: 3%;">Prioridad</label>
        <em
          class="text-danger"
          *ngIf="
            claseForm.controls.prioridad?.invalid &&
            claseForm.controls.prioridad?.touched
          "
          >*Prioridad válida es requerida</em
        >
      </div>
      
    </div>
    

    <!-- Sección de respaldos -->
    <br>
    <div class="d-flex justify-content-center">
      <h4>Sección de respaldos</h4>
    </div>
    <div class="d-flex justify-content-center">
      <em>Nota: Solo los formatos con * son obligatorios.</em>
    </div>

    <!-- Adjuntar Estudio socioeconómico. -->
    <div class="d-flex justify-content-center styleFormElem">
      <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="sm-3 col-md-8">
        <label class="form-label">Adjuntar estudio socioeconómico*</label>
        <input 
          [(ngModel)]="socioeconomico"
          class="form-control"
          (change)="onChange($event)" 
          name="socioeconomico"
          type="file" 
          accept=".pdf"
          required
        />
      </div>
    </div>

    <!-- Adjuntar Solicitud de Donación. -->
    <div class="d-flex justify-content-center styleFormElem">
      <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="sm-3 col-md-8">
        <label class="form-label">Adjuntar solicitud de donación*</label>
        <input 
          [(ngModel)]="solDonacion"
          class="form-control"
          (change)="onChange($event)" 
          name="solDonacion"
          type="file" 
          accept=".pdf"
          required
        />
      </div>
    </div>

    <!-- Ingreso "otros". -->
    <div class="d-flex justify-content-center styleFormElem">
      <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="sm-3 col-md-8">
        <label class="form-label">Adjuntar archivo adicional</label>
        <input 
          [(ngModel)]="otros"
          class="form-control"
          (change)="onChange($event)" 
          name="otros"
          type="file" 
          accept=".pdf"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        style="margin-top: 30px;"
        type="submit"
        [disabled]="claseForm.invalid"
        class="btn button1"
        (click)="guardarSolicitud();"
      >
        Enviar
      </button>
    </div>
    <br>
  </form>
</div>