<app-navbar-portal-digitador></app-navbar-portal-digitador>
<app-navbar-portal-digitador (viewHistorialClick)="toggleSolicitudes = false; toggleFormularios = false; toggleHistorial = true;"
(viewSolicitudesClick)="toggleSolicitudes = true; toggleFormularios = false; toggleHistorial = false; "
(viewFormulariosClick)="toggleSolicitudes = false; toggleFormularios = true; toggleHistorial = false; " >
<div class="container">
    
</div>
<img class="imagen_opaca" src="assets/images/bg-art.png" alt="">