<div class="container formularios">
    <div class="d-flex justify-content-center">
      <h1 style="margin-bottom: 2%; margin-top: 2%;">Formularios</h1>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Acta de Compromiso Donaciones
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Abrir PDF con información para poder ser descargado.
              <a
                href="https://firebasestorage.googleapis.com/v0/b/fundacion-padrino.appspot.com/o/ACTA_DE_COMPROMISO_DONACIONES.pdf?alt=media&token=e2b405f7-fbae-4593-985c-5d000775fc97"
                target="_blank"
                rel="noopener noreferrer"
                style="color: #00abe7"
                > Acta de Compromiso Donaciones</a
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Cuestionario de Solicitud de Donación
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>
              Abrir PDF con información para poder ser descargado.
              <a
                href="https://firebasestorage.googleapis.com/v0/b/fundacion-padrino.appspot.com/o/CUESTIONARIO_DE_SOLICITUD_DE_DONACION.pdf?alt=media&token=c9114c3c-5716-49b9-b1ce-91b8066903e9"
                target="_blank"
                rel="noopener noreferrer"
                style="color: #00abe7"
                > Cuestionario de Solicitud de Donación</a
              >.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Solicitud de Donación (Personal)
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><p>
            Abrir PDF con información para poder ser descargado.
            <a
              href="https://firebasestorage.googleapis.com/v0/b/fundacion-padrino.appspot.com/o/SOLICITUD_DE_DONACION_personal.pdf?alt=media&token=827bea1c-da5d-4ea6-8149-809736cac9da"
              target="_blank"
              rel="noopener noreferrer"
              style="color: #00abe7"
              > Solicitud de Donación (Personal)</a
            >.
          </p></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Solicitud de Donación (Representante)
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><p>
            Abrir PDF con información para poder ser descargado.
            <a
              href="https://firebasestorage.googleapis.com/v0/b/fundacion-padrino.appspot.com/o/SOLICITUD_DE_DONACION_representante.pdf?alt=media&token=33f439c1-cedd-4c10-b33c-b1973cd476c1"
              target="_blank"
              rel="noopener noreferrer"
              style="color: #00abe7"
              > Solicitud de Donación (Representante)</a
            >.
          </p></div>
        </div>
      </div>
    </div>
    <br>
</div>