<div style="background-color: white;">
  <div class="container historial">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <div style="height: 69px;">
        <select class="form-select my-3" (change)="onSelectedChange($event)" name="visibilidad" required style="float:left">
          <option [ngValue]="'all'" id="Todos">Todos</option>
          <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
        </select>
        <div class="h-100 d-flex align-items-center" style="padding-left: 15px;">
          <label>
            <input type="checkbox" id="checkArchived" [value]="showArchived" (change)="onCheckboxChange($event)" />
            Mostrar archivados
          </label>
        </div>
      </div>
    <table class="table table-striped table-bordered">
      <thead class="table-header" class="userRowHover">

          <tr>
              <th>Nombre del paciente</th>
              <th>Solicitud</th>
              <th>Estado</th>
              <th>Comentarios</th>
              <th>Prioridad</th>
              <th>Fecha</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let record of filteredRecordList" class="userRowHover" (click)="open(content); onSelect(record);">
              <td class="rowInfo">{{record?.nombrePaciente}}</td>
              <td class="rowInfo">{{record?.queSolicita}}</td>
              <td class="rowInfo">{{record?.estado}}</td>
              <td class="rowInfo">{{record?.comentariosPresidencia}}</td>
              <td class="rowInfo" *ngIf="record?.prioridad == 1">Inmediata</td>
              <td class="rowInfo" *ngIf="record?.prioridad == 2">Alta</td>
              <td class="rowInfo" *ngIf="record?.prioridad == 3">Baja</td>
              <td class="rowInfo">{{record?.fecha}}</td>
            </tr>
      </tbody>
    </table>
  </div>

<!-- MODAL -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Detalle Solicitud
    </h4>
    <div class="fecha">
      <p id="fecha"></p>
    </div>
    <div>
      <button id="btn-box" type="button" class="btn btn-success" style="margin-right: 1rem; display: none;" (click)="handleArchive(pacienteSelectedId, solicitudSelectedId,pacienteSelectedKey);">
        <span aria-hidden="true">
          <fa-icon class="icons" [icon]="faBox"></fa-icon>
        </span>
      </button>
      <button id="btn-box-open" type="button" class="btn btn-success" style="margin-right: 1rem; display: none;" (click)="handleUnarchive(pacienteSelectedId, solicitudSelectedId, pacienteSelectedKey);">
        <span aria-hidden="true">
          <fa-icon class="icons" [icon]="faBoxOpen"></fa-icon>
        </span>
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Número de Identidad</label>
            <div class="input-group">
              <input disabled id="id-paciente" type="text" class="form-control" placeholder="ID Paciente" name="dp">
            </div>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre del paciente</label>
            <div class="input-group">
              <input disabled id="nombre" type="text" class="form-control" placeholder="nombre apellido" name="dp">
              <div class="input-group-append">
                <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
              </div>
            </div>
          </div>
          <div class="form-group">
              <label for="ciudad">Ciudad</label>
              <div class="input-group">
                <input disabled id="ciudad" type="text" class="form-control" placeholder="ciudad" name="dp">
                <div class="input-group-append">
                  <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="prioridadOptions">Prioridad</label>
              <div class="input-group">
                <div class="custom-select" style="width:200px;" id="custom-select">
                  <select disabled name="prioridadOptions" id="prioridadOptions">
                  </select>
                </div>
              </div>
              <label class="error-label" id="error-label-prioridad"></label>
            </div>
            <div class="form-group">
              <label for="solicitud">Solicitud</label>
              <div class="input-group">
                <input disabled id="solicitud" type="text" class="form-control" placeholder="solicitud" name="dp">
                <div class="input-group-append">
                  <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="estado">Estado</label>
              <div class="input-group">
                <input disabled id="estado" type="text" class="form-control" placeholder="estado" name="dp">
                <div class="input-group-append">
                  <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                </div>
              </div>
            </div>
          <div class="form-group">
              <label for="descripcion">Descripción</label>
              <div class="input-group">
                <textarea disabled name="descripcion" class="form-control" id="descripcion" cols="60" rows="7" placeholder="Lorem Ipsum" style="resize: none; margin-bottom: 1em;"></textarea>
                <div class="input-group-append">
                  <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="comentarioP">Comentarios de Presidencia</label>
            <div class="input-group">
              <textarea disabled name="comentarioP" class="form-control" id="comentarioP" cols="40" rows="3" placeholder="No hay comentarios de presidencia" style="resize: none; margin-bottom: 1em;"></textarea>
              <div class="input-group-append">
                <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
              </div>
            </div>
          </div>
          <div class="form-group float-container">
            <div>
              <label for="hoja">Hoja de Compromiso</label>
              <br>
              <a class="btn btn-primary" id="hoja" target="_blank">
                Ver Documento
              </a>
            </div>
            <!--
            <div class="input-group float-child">
              <label>Actualizar Archivo</label>
                <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                      <input (change)="onChangeFile($event)" type="file" name="hoja" id="url-hoja-compromiso" accept="application/pdf"/>
                  </div>
            </div>
            -->
        </div>
          <div class="form-group float-container">
            <div>
              <label for="estudio">Estudio Socioecónomico </label>
              <br>
              <a class="btn btn-primary" id="estudio" target="_blank">
                Ver Documento
              </a>
            </div>
            <div class="input-group float-child" id="estudio-div" hidden>
              <label>Actualizar Archivo</label>
                <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                      <input  class="form-control" (change)="onChangeFile($event)" type="file" name="socioeconomico" id="url-estudio-socioeconomico" accept="application/pdf"/>
                  </div>
            </div>
        </div>
          <div class="form-group float-container">
            <div>
              <label for="donacion">Solicitud de Donación</label>
              <br>
              <a class="btn btn-primary" id="donacion" target="_blank">
                Ver Documento
              </a>
            </div>
            <div class="input-group float-child" id="solicitud-div" hidden>
              <label>Actualizar Archivo</label>
                <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                      <input  class="form-control" (change)="onChangeFile($event)" type="file" name="solDonacion" id="url-solicitud-donacion" accept="application/pdf"/>
                  </div>
            </div>
        </div>
          <div class="form-group float-container">
            <div>
              <label for="otros">Otros</label>
              <br>
              <a class="btn btn-primary" id="otros" target="_blank">
                Ver Documento
              </a>
            </div>
            <div class="input-group float-child" id="otros-div" hidden>
              <label>Actualizar Archivo</label>
                <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                      <input  class="form-control" (change)="onChangeFile($event)" type="file" name="otros" id="url-otros" accept="application/pdf"/>
                  </div>
            </div>
        </div>
          <div class="form-group">
            <label for="otros">Casa</label>
            <div><img id="image_preview" class="float-child" width="150" height="150" alt=""></div>
            <div><img id="image_preview2" class="float-child" width="150" height="150" alt=""></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" id="saveBtn" class="btn btn-outline-dark" (click)="open(actualizarSolicitud); modal.close('Save click'); getValues(); onEditConfirmation(solicitudSelectedName);">Guardar</button>
  </div>
</ng-template>

<ng-template #confirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Seguro que desea eliminar el Héroe?</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input id="nameDelete" class="form-control" placeholder="ejemplo@gmail.com" name="dp" readonly>
          <div class="input-group-append">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="submit" class="btn btn-danger pull-left" (click)="open(confirmation, articuloSelectedId, articuloSelectedName); onDeleteConfirmation(heroeSelectedName); modal.close('Delete Click');">Eliminar</button> -->
    <button type="submit" id="saveBtn" class="btn btn-outline-dark" (click)="modal.close('Save click'); editarSolicitud(pacienteSelectedId, solicitudSelectedId,solicitudPreEdicion)">Guardar</button>
  </div>
</ng-template>

<ng-template #actualizarSolicitud let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Seguro que desea guardar los cambios?</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input id="solicitudUpdate" class="form-control" name="dp" readonly>
          <div class="input-group-append">
            <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary pull-left" (click)="editarSolicitud(pacienteSelectedId, solicitudSelectedId, solicitudPreEdicion); modal.close('Update Click');">Si</button>
    <button type="submit" id="saveBtn" class="btn btn-outline-dark" (click)="modal.close('Save click');">Cancelar</button>
  </div>
</ng-template>
</div>
