.historial{
  background-color: white;
}

.form-select {
  width: 200px;
}


.fecha{
  font-size: 12;
  font-style: normal;
  margin-top: 20px;
}

.float-container {
display: flex;
}

.float-child {
  flex: 1;
}

.float-child:first-child {
margin-right: 20px;
}
