<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de nosotros</h6>
          <p class="text-justify">Fundación Padrino es una <i> organización sin fines de lucro</i> orientada a colaborar con pacientes renales de bajos recursos económicos.</p>
          <p>La Fundación Padrino nace el 2010, al observar el incremento en el número de niños con enfermedad renal crónica en etapa terminal, niños de escasos recursos económicos, con poco o ningún apoyo familiar, con grandes necesidades en alimentación, vestimenta, vivienda, tratamiento para su enfermedad, educación, y lo más importante con necesidad de <i> AMOR, CARIÑO y COMPRENSIÓN</i>.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contáctenos</h6>
          <p><b>Ubicación:</b><br>Bo. El Benque 3 Calle 8-9 Ave. S.O. San Pedro Sula, Honduras C.A. </p>
          <p><b>Teléfonos:</b><br>(504) 9430-3497 | 2552 - 2875 </p>
          <p><b>Correo electrónico:</b><br>director@fundacionpadrino.com </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Enlaces</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Qué hacemos</a></li>
            <li><a href="http://scanfcode.com/contact/">Programas</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Donaciones</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Testimonios</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Blog</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 
              <a href="/pagina-principal">Fundación Padrino</a>.
          </p>
          <a href="./login">Portal</a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/FPADRINOHN" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a class="twitter" href="https://twitter.com/fpadrinohn/" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li><a class="instagram" href="https://www.instagram.com/fpadrinohn/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>

