
<div class="container styleHeroeAdd">
  <div class="d-flex justify-content-center">
    <h1 style="margin-bottom: 2%; margin-top: 2%;">Registro de Héroe</h1>
  </div>
  <form #claseForm="ngForm" action="/">
      <!-- Ingreso nombre -->
      <div class="d-flex justify-content-center" style="margin-top: 20px">
        <div
          class="form-floating sm-3 col-md-9"
          [ngClass]="{
            error:
              claseForm.controls.nombre?.invalid &&
              claseForm.controls.nombre?.touched
          }"
        >
          <input
            [(ngModel)]="nombre"
            type="text"
            class="form-control"
            id="floatingInput"
            name="nombre"
            placeholder="Nombre completo"
            required
          />
          <label for="floatingInput">Nombre Completo</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.nombre?.invalid &&
              claseForm.controls.nombre?.touched
            "
            >*Nombre válido es requerido</em
          >
        </div>
      </div>
      <!-- Ingreso de contenido -->
      <div class="d-flex justify-content-center" style="margin-top: 20px">
        <div
          class="form-floating sm-3 col-md-9"
          [ngClass]="{
            error:
              claseForm.controls.contenido?.invalid &&
              claseForm.controls.contenido?.touched
          }"
        >
          <textarea
            [(ngModel)]="contenido"
            type="text"
            class="form-control"
            id="contenido"
            name="contenido"
            rows="4" 
            placeholder="Contenido"
            required
          ></textarea>
          <label for="contenido">Contenido</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.contenido?.invalid &&
              claseForm.controls.contenido?.touched
            "
            >*Contenido válido es requerido</em
          >
        </div>
      </div>
      
      <div class="row mt-3 d-flex justify-content-center">
        <!--estado (fallecido o no)-->
        <div
        class="form-floating sm-3 col-md-3"
        [ngClass]="{
          error:
            claseForm.controls.fallecido?.invalid &&
            claseForm.controls.fallecido?.touched
        }"
        >
          <select 
            [(ngModel)]="fallecido"
            id = "floating input" 
            class="form-select"
            id="floatingInput"
            name="fallecido"
            placeholder="Estado"
            required
          >
            <option value="Con Vida">Con Vida</option>
            <option value="Fallecido">Fallecido</option>
          </select>

          <label for="floatingInput" style="margin-left: 3%;">Estado</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.fallecido?.invalid &&
              claseForm.controls.fallecido?.touched
            "
            >*Estado válido es requerido</em
          >
        </div>

        <!--prioridad-->
        <div
          class="form-floating sm-3 col-md-3"
          [ngClass]="{
            error:
              claseForm.controls.prioridad?.invalid &&
              claseForm.controls.prioridad?.touched
          }"
        >
          <select 
            [(ngModel)]="prioridad"
            id = "floating input" 
            class="form-select"
            id="floatingInput"
            name="prioridad"
            placeholder="Prioridad"
            required
          >
            <option value="Alta">Alta</option>
            <option value="Media">Media</option>
            <option value="Baja">Baja</option>
          </select>

          <label for="floatingInput" style="margin-left: 3%;">Prioridad</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.prioridad?.invalid &&
              claseForm.controls.prioridad?.touched
            "
            >*Prioridad válida es requerida</em
          >
        </div>

        <!--visibilidad-->
        <div
          class="form-floating sm-3 col-md-3"
          [ngClass]="{
            error:
              claseForm.controls.visibilidad?.invalid &&
              claseForm.controls.visibilidad?.touched
          }"
        >
          <select 
            [(ngModel)]="visibilidad"
            id = "floating input" 
            class="form-select"
            id="floatingInput"
            name="visibilidad"
            placeholder="Visibilidad"
            required
          >
            <option value="Público">Público</option>
            <option value="Privado">Privado</option>
          </select>

          
          <label for="floatingInput" style="margin-left: 3%;">Visibilidad</label>
          <em
            class="text-danger"
            *ngIf="
              claseForm.controls.visibilidad?.invalid &&
              claseForm.controls.visibilidad?.touched
            "
            >*Visibilidad válida es requerida</em
          >
        </div>
        
      </div>
  
      <!-- Ingreso de imagen -->
      <div class="d-flex justify-content-center" style="margin-top: 3%;">
        <img *ngIf="urlI" src="{{urlI}}" style="max-height: 400px; max-width: 400px; margin-right: 10px;">
        <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
          <label class="custom-file-upload">Adjuntar Imagen</label>
          <input 
            class="form-control" 
            (change)="onChange($event)" 
            type="file" 
            accept="image/png, image/jpeg"
            required
          />
        </div>
      </div>
  
      <div class="d-flex justify-content-center">
        <button
          style="margin-top: 30px;"
          type="submit"
          [disabled]="claseForm.invalid"
          class="btn button1"
          (click)="saveHeroe();"
        >
          Registrar Nuevo Héroe
        </button>
      </div>
      <br>
      <br>
  </form>
</div>