<!-- {{ form | json }} -->
<div class="container styleForm">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 rmPadding">
                <input type="text" class="form-control sqrBorder" id="name" placeholder="Nombre Completo">
            </div>
            <div class="col-sm-6 rmPadding">
                <input type="email" class="form-control sqrBorder" id="correo" placeholder="correo">  
            </div>
        </div>
        <div class="row">
            <input type="text" class="form-control sqrBorder" id="asunto" style="margin-top: 3%;" placeholder="asunto">
        </div>
        
        <div class="row">
            <textarea name="msg" id="msg" class="msgArea" style="margin-top: 3%; resize: none;" placeholder="Escriba su mensaje aqui..."></textarea>
        </div>

        <div class="col text-center" style="margin-top: 3%;">
            <a class="button1 input-block-level">Enviar</a>
        </div>
      </div>
      <div class="form-group">
        
      </div>
</div>
