<!-- {{ form | json }} -->
<div class="container styleForm">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Nombre Completo">
            </div>
            <div class="col-sm-6">
                <input type="text"  class="form-control" id="correo" placeholder="correo">  
            </div>
        </div>
        <input type="text" class="form-control" id="asunto" style="margin-top: 3%;" placeholder="asunto">

        <textarea name="msg" id="msg" class="msgArea" style="margin-top: 3%; resize: none;" placeholder="Escriba su mensaje aqui..."></textarea>

        <div class="col text-center" style="margin-top: 3%;">
            <a class="button1">Enviar</a>
        </div>
      </div>
      <div class="form-group">
        
      </div>
</div>
