<!-- {{ form | json }} -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" name="myForm">
    <div class="container styleForm">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 rmPadding">
                    <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
                        <div *ngIf="form.controls['name'].errors.required">
                            <p for="name" style="color: red; font-size: 0.7em; margin-top: -9%; bottom: 0;" id="labelName">*Nombre es requerido</p>
                      </div>
                      <div *ngIf="form.get('name').errors?.pattern">
                        <p for="name" style="color: red; font-size: 0.7em; margin-top: -9%;bottom: 0;" id="labelName">*Solo se permite letras y espacios</p>
                      </div>
                    </div>
                    <input type="text" class="form-control sqrBorder" id="name" placeholder="Nombre Completo" formControlName="name" required>
                </div>
                <div class="col-sm-6 rmPadding">
                    <div *ngIf="form.controls['correo'].invalid && (form.controls['correo'].dirty || form.controls['correo'].touched)">
                        <div *ngIf="correo.errors.required">
                            <p for="correo" style="color: red; font-size: 0.7em; margin-top: -9%;bottom: 0;" id="labelName">*Correo es un campo requerido</p>
                      </div>
                      <div *ngIf="form.get('correo').errors?.pattern">
                        <p for="correo" style="color: red; font-size: 0.7em; margin-top: -9%;bottom: 0;" id="labelName">*Correo Invalido</p>
                      </div>
                    </div>
                    <input type="email" class="form-control sqrBorder" id="correo" formControlName="correo" [pattern]="emailPattern" placeholder="Correo" required>  
                </div>
            </div>
            <div class="row">
                <input type="text" class="form-control sqrBorder" id="asunto" style="margin-top: 3%;" formControlName="asunto" placeholder="Asunto">
            </div>
            
            <div class="row">
                <textarea name="msg" id="msg" class="form-control msgArea" style="margin-top: 3%; resize: none;" formControlName="mensaje" placeholder="Escriba su mensaje aquí..."></textarea>
            </div>
    
            <div class="col text-center" style="margin-top: 3%;">
                <button class="button1" type="submit">Enviar</button>
            </div>
          </div>
    </div>
</form>