<navbar></navbar>
<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Nuestras Alianzas</h1>
</div>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza1-Molino_Harinero_Sula.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Molino Harinero Sula</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza2-PARSEMA.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">PARSEMA</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza3-Panaderia_y_reposteria_La_Toscana.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Panaderia y reposteria La Toscana</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza4-Panaderia_Salman.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Panaderia Salman</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza5-Panaderia_la_moderna.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Panaderia la Moderna</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza6-Cooperativa_sagrada_familia.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cooperativa Sagrada Familia</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza7-dialisis_de_honduras.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dialisis de Honduras</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza8-Hotel_bolivia.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel Bolivia</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 10%;">
                <img src="././assets/images/Alianza9-Panaderia_la_Espiga.png" style="display: block; margin-left: auto; margin-right: auto; width: 70%; margin-top: 10%;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Panaderia la Espiga</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<footer-comp></footer-comp>