<div class="sectionTitle" >
    <h1 class="sectionTitleText" >¿Qué hacemos?</h1>

    <p class="sectionText">
        La Insuficiencia Renal Crónica (IRC) es una enfermedad silenciosa que puede llegar a ser catalogada 
        como una epidemia ya que afecta a 1 de cada 10 personas a nivel mundial. En Fundación Padrino, una 
        organización sin fines de lucro, brindamos nuestros servicios desde el año 2010 en beneficio de personas 
        que padecen esta terrible enfermedad y que requieren un tratamiento substitutivo de la función renal que han perdido, 
        es decir una diálisis para poder mantenerse con vida. La Secretaria de Salud sufraga el costo de los tratamientos dialíticos, 
        sin embargo los pacientes deben someterse a este proceso 3 veces por semana, por un intervalo de 4 horas de manera indefinida en su vida. 
        Una gran mayoría de los afectados carecen de los recursos económicos necesarios básicos para poder trasladarse hasta su centro de diálisis 
        más cercano con la regularidad prescrita medicamente, por lo que renuncian a la opción en algunos casos a recibir más de un tratamiento semanal; 
        teniendo serias repercusiones en su condición de salud. Paralelamente todos los pacientes poseen otras enfermedades de base, algunas causantes 
        de su insuficiencia renal crónica actual como por ejemplo: diabetes, hipertensión, lupus, problemas cardíacos, etc., también de otras provocadas 
        por su patología renal: anemia, descalcificación ósea, problemas cardíacos, problemas pulmonares, entre otros. Son innumerables los desafíos que 
        estos héroes renales atraviesan para mantenerse con vida y es parte de nuestros objetivos luchas con ellos a menguar en algún grado los mismos, 
        brindándoles la oportunidad de disfrutar una calidad de vida.
    </p>
</div>

<div class="sectionSegment" >
    <h1 class="sectionTitleText" >Apoyos que brindamos</h1>
    <p class="sectionText">Fundación Padrino colabora con los pacientes cuya situación socioeconómica es menos privilegiada en las siguientes áreas:
    </p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estudios de laboratorio</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cirugías vasculares</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Atención psicológica</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Apoyos para transporte</h5>
              </div>
          </div>
        </div>
        
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Orientación de su condición renal</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Donación de medicamentos</h5>
             </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="././assets/images/7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Educación preventiva</h5>
              </div>
          </div>
        </div>
      </div>

        
</div>

<div class="sectionSegment" >
    <h1 class="sectionTitleText" >Ayudas complementarias</h1>
    <p class="sectionText">
        Fundación Padrino brinda ayudas complementarias que están relacionados con el tratamiento dialítico y 
        contribuyen a mejorar la condición de vida del paciente. A continuación se detallan algunas de ellas:</p>
      <div class="row row-cols-1 row-cols-sm-2">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Medicamentos para enfermedades crónicas.</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Medicamentos de emergencia.</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Insumos para movilidad.</h5>
              </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Alimentos</h5>
              </div>
          </div>
        </div>
        
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Vestuario</h5>
              </div>
          </div>
        </div>
      </div>

        
</div>