<navbar></navbar>
<div class="sectionTitle" >
    <h1 class="sectionTitleText" >¿Quiénes somos?</h1>
    <div class="container sectionTitle" style="text-align: center;" >

        <img src= "././assets/images/FP6.gif" class="responsive">
      
        </div>
        
</div>


  
<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Nuestra Misión</h1>
    
    <img src="https://drive.google.com/uc?export=view&id=1TArgftUiaxlqrE9iMsbgHa-H8hmNBUfH" alt="" style="float:right; width: 20%; height: 20%; margin-right: 10%;" >
    <p class="sectionText" style="margin-right: 30%;" >
        Convertirse en el mayor centro de apoyo integral para el manejo de los pacientes 
        con enfermedad renal cronica en etapa terminal, dentro de un marco de auto sostenibilidad 
        y permanente incremento de su cobertura.
    </p>
 
  
</div>

<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Nuestra Visión</h1>
    <img src="https://drive.google.com/uc?export=view&id=1I5eY8XTMQxCtyf3llUKGeLRYD-61shNu" alt=""  style="float:left; width: 15%; height: 15%; margin-left: 10%;">
    <p class="sectionText" style="margin-left: 30%;">
        Procurar mejorar la calidad de vida del paciente con insuficiencia renal, apoyando y 
        suplementando todos los aspectos que conlleva un abordaje integral de su padecimiento, 
        así como generar sus propios mecanismos de movilidad social.
       
    </p>



    
</div>

<div class="sectionTitle" style="margin-bottom: 20%;" >
    <h1 class="sectionTitleText" >Nuestros Valores</h1>

    <img src="https://drive.google.com/uc?export=view&id=11kY-JHzPSmibaoRzVjgOvB9UQJNU65ri" alt="" style="float:right; width: 15%; height: 15%; margin-right: 15%;" >
    <p class="sectionText" style="margin-right: 10%;">
        Compromiso, Honestidad, Responsabilidad, Solidaridad, Respeto y Empatía.
    </p>

</div>

