<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-link" onclick="window.location.replace(portal-admin);" [routerLink]="['/portal-admin']">Portal Administrativo</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="dropdown-users">
    <button class="dropbtn"><fa-icon class="icons" [icon]="faAddressBook"></fa-icon>Usuarios   ▼</button>
    <div class="dropdown-content">
      <a (click)="showUsers()" [routerLink]="['/portal-admin']">Ver Usuarios</a>
      <a (click)="addUser()">Registrar Usuario</a>
      <a >Ver Log Usuarios</a>
      <a >Ver Log Acciones</a>
    </div>
  </div>
  <div class="dropdown-users">
    <button class="dropbtn"><fa-icon class="icons" [icon]="faComments"></fa-icon>Testimonios  ▼</button>
    <div class="dropdown-content">
      <a [routerLink]="['/portal-admin']" (click)="showTestimonies()">Ver Testimonios</a>
      <a  [routerLink]="['/portal-admin']" (click)="viewTestimonies()">Agregar Testimonios</a>
    </div>
  </div>
  <div class="dropdown-users">
    <button class="dropbtn"><fa-icon class="icons" [icon]="faHandSparkles"></fa-icon>Héroes  ▼</button>
    <div class="dropdown-content">
      <a [routerLink]="['/portal-admin']" (click)="showHeroes()">Ver Héroes</a>
      <a class="nav-link active" aria-current="page" (click)="viewHeroes()" [routerLink]="['/portal-admin']">Agregar Heroes</a>
    </div>
  </div>
  <div class="dropdown-users">
    <button class="dropbtn"><fa-icon class="icons" [icon]="faFilePdf"></fa-icon>Agregar PDF  ▼</button>
    <div class="dropdown-content">
      <a class="nav-link active" aria-current="page" (click)="addPDF()" [routerLink]="['/agregarPDF']">Modificar PDF</a>
    </div>
  </div>
  <div class="dropdownx navbar-nav ms-auto">
    <button class="dropbtn" id="user-display"><fa-icon class="icons" [icon]="faUserCircle"></fa-icon>User Here  ▼</button>
    <div class="dropdown-content">
      <a (click)="fnEditUserProfile()">Editar</a>
      <a (click)="logOut()">Cerrar Sesión</a>
    </div>
  </div>
</nav>