.historial{
    background-color: white;
}

.form-select {
    width: 200px;
}


.fecha{
    font-size: 12;
    font-style: normal;
    margin-top: 20px;
}

.userRowHover:hover .rowInfo{
    color: #9965ac;
  }