<navbar></navbar>

<div class ="sectionTitle">


<div class="banner" >
    <img src="{{blog?.imagenPreview}}" alt="Imagen">
</div>
    <div class="blog">
        <h1 class="title">{{blog?.titulo}}</h1>
        <p class="published"><span>publicado el {{blog?.fechaCreacion}}</span></p>
        
        <div class ="descripcion">{{blog?.descripcion}}</div>
        <p class="categoria"><span class="tag tag-teal">{{blog?.categorias}}</span></p>
        
        <div class="article" [innerHTML]="sanitizar(blog?.contenido)"> 
        </div>
    </div>
</div>

<footer-comp></footer-comp>