<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Programas</h1>
</div>


<br>
<div class="container">
    <img src="././assets/images/FP - 17.png" alt="..." />
    <span class="tag tag-teal">Buen Provecho</span>
    <p>Patrocinio de meriendas a pacientes renales, que en su gran mayoría son de escasos recursos y en ocasiones se someten a largos viajes para llegar a su tratamiento sin contar con suficiente dinero para su alimentación.</p>


</div>
<br>
<div class="container">

    <img src=".././assets/images/FP - 30.png" alt="..." />
     
    <span class="tag tag-purple">Abriendo Caminos</span>
   <p>
        Patrocinios para charlas, talleres, terapias ocupacionales, cursos de educación no formal, etc a favor 
        de los pacientes renales en edad productiva y que no cuentan con un nivel de escolaridad o adiestramiento 
        suficiente para adquirir un trabajo o iniciarse en el emprendedurismo.
    </p>

</div>
<br>
<div class="container">

    <img src="././assets/images/FP - 57.png" alt="..." />
    <span class="tag tag-orange">Corazon Voluntario</span>

    <p>Patrocinio directo en hospitales, farmacias y laboratorios para la realización de cirugías vasculares,

        exámenes de laboratorios y medicamentos respectivamente. Patrocinio directo para la adquisición
        
        de catéteres vasculares temporales y permanentes.
    </p>

</div>
<br>
<div class="container">
    <img src="././assets/images/FP - 62.png" alt="..." />
    <span class="tag tag-red">Celebra Conmigo</span>
    <p>Puede apadrinar diversas celebraciones que llevan alegría a los pacientes renales y que de otra

        manera no tendrían la opción de disfrutar: Día del Niño, Cumpleañeros del mes, Día de la amistad,
        
        Día del Padre, Día de la Madre, Navidad, etc.
    </p>

</div>
<br><br>
