.navBarStyle{

    font-family:'Roboto', sans-serif;

    font-size:medium;
    
}

.dropdown-item{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

.social-media-icons{
    list-style: none;
}