*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.bgImg{
    height: 35vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bgImg::before{
    content: "";
    background-image: url(../../assets/images/24464241947_01976611c3_b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.bgText{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #000000;
    font-size: 3em;
    line-height: 0.9;
    text-align: center;
    padding-top: 12vh;
}

            /* Carousel styling */
            #introCarousel,
            .carousel-inner,
            .carousel-item,
            .carousel-item.active {
              height: 100vh;
            }
        
            .carousel-item:nth-child(1) {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
            }
        
            .carousel-item:nth-child(2) {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
            }
        
            .carousel-item:nth-child(3) {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
            }
        
            /* Height for devices larger than 576px */
            @media (min-width: 992px) {
              #introCarousel {
                margin-top: -58.59px;
              }
            }
        
            .navbar .nav-link {
              color: #fff !important;
            }