.stylePatients{
    background-color: white;
    /*height: 80vh;*/
}

.table-wrapper-scroll-y {
  display: block;
}

.table-header{
  position: sticky;
  top: 0px;
}

.userRowHover:hover .rowInfo{
  color: #9965ac;
}