<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap"
  rel="stylesheet"
/>

<navbar></navbar>

<h1
  class="d-flex justify-content-center"
  style="margin-top: 170px; font-size: 400%; font-family: 'Roboto', sans-serif"
>
  Restablecer Contraseña
</h1>

<form #claseForm="ngForm">
  <div style="margin-top: 150px">
    <div class="d-flex justify-content-center">
      <!-- Olvidaste contrasena -->
      <div
        class="form-floating mb-3 col-md-5"
        [ngClass]="{
          error:
            claseForm.controls.email?.invalid &&
            claseForm.controls.email?.touched
        }"
      >
        <input
          [(ngModel)]="email"
          type="email"
          class="form-control"
          id="floatingInput"
          name="email"
          placeholder="nombre@fundacionpadrino.com"
          required
        />
        <label for="floatingInput">Correo</label>
        <em
          class="text-danger"
          *ngIf="
            claseForm.controls.email?.invalid &&
            claseForm.controls.email?.touched
          "
          >Este campo es requerido!</em
        >
      </div>
    </div>

    <div
      class="form-group d-flex justify-content-center"
      style="margin-top: 20px"
    >
      <button
        type="submit"
        [disabled]="claseForm.invalid"
        class="button1"
        (click)="enviarCorreo()"
      >
        Enviar Correo
      </button>
    </div>
  </div>
</form>
