<div class="barra">
    <navbar></navbar>
</div>

<div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <h6><strong>Reestablecer Contraseña</strong></h6>
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input type="text" class="login__input" placeholder="Correo" [(ngModel)]="email" name="email">
          </div>
          <button class="button login__submit" (click)="enviarCorreo()">
            <span class="button__text">Enviar correo</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>			
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>