#function-list{
    display: flex;
    justify-content: left;
    align-content: space-between;
}

.list-group{
    margin: 10px;
}

.table-wrapper-scroll-y {
    display: block;
}

.userRowHover:hover .rowInfo{
    color: #9965ac;
}

.error-label{
    font-size: 0.7em;
    color: red;
}