<div class="container">
    <h1>Aquí va landing page</h1>
    <video width="320" height="240" autoplay>
      <source src="https://drive.google.com/uc?export=view&id=179KoBMNfHXxpJznp8Vo468AgKG0PjusV/" type="video/mov">
    Your browser does not support the video tag.
    </video>
</div>


<div class="container">
    <h1 class="title" style="font-size:400%;">Haz la diferencia</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 20%; margin-right: 15%;">
        <div class="col">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
            <img src="././assets/images/feature-v1-2.png" class="card-img-top" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Contribuye con una donación acorde a tu presupuesto.</p>
              <a class="button1" style="text-align: center;" [routerLink]="['/donations']">Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
            <img src="././assets/images/feature-v1-3.png" class="card-img-top" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Brinda tu tiempo ayudando como voluntario.</p>
              <a class="button1" [routerLink]="['/donations']">Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
            <img src="././assets/images/feature-v1-3.png" class="card-img-top" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Únete a la causa participando en nuestros programas.</p>
              <a class="button1" [routerLink]="['/programas']">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
      <br>
</div>
<div class="sectionRectangle"></div>
<div class="container" >
  <h1 class="title" style="margin-top: 10%; margin-bottom: -10%;">Nuestros Héroes</h1>
  <section id="slider">
    <input type="radio" name="slider" id="s1" checked>
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3">
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">
  
    <label for="s1" id="slide1"><img src="https://drive.google.com/uc?export=view&id=1JfZPYlMYwL02IMd5CRd4v6E9MLpWhKu_" alt=""></label>
    <label for="s2" id="slide2"><img src="https://drive.google.com/uc?export=view&id=1xIHNA36BeMeRb1V4p7mcKJbeJXm5_4R2" alt=""></label>
    <label for="s3" id="slide3"><img src="https://drive.google.com/uc?export=view&id=1N2L66tG_l8C8RMZB2wTZrko0gqAJF1W8" alt=""></label>
    <label for="s4" id="slide4"><img src="https://drive.google.com/uc?export=view&id=1nMyRAcnD4tEGHfRYOhWkcAQiDGAfb5PO" alt=""></label>
    <label for="s5" id="slide5"><img src="https://drive.google.com/uc?export=view&id=1nTBbfxR8vcaRGdokm3e_aZmAqdaqvowv" alt=""></label>
  </section>
  <button type="button" 
  class="btn btn-light" 
  style= "margin-left: 42%; margin-top:-10%;">
  Conoce sus Historias</button>

</div>
<div class="sectionRectangle"></div>
<div class ="parallax" style="background-image:url(https://drive.google.com/uc?export=view&id=1t2YUw7F1DBBeBDFx1lQw6JwiU4QKI4c8);">
  <div class="half-opaque-img">
    <div class="insideText">
      <h1 class="">Testimonios</h1>
      <br><br>
      <p class="pStyle">Conoce los testimonios de las personas que son parte de la fundacion.</p>
      <br><br>
      <a href="something" class="button1" >Más Información</a>
    </div>
  </div>
</div>
<div class="sectionRectangle"></div>