<navbar></navbar>
<div class="sectionTitle" style="text-align: center;" >

<!-- <img src= "../../assets/images/FP6.gif" class="responsive"> -->
<div class="responsive">
  <div class="buttonsGif">
    <a class="button1" [routerLink]="['//quienes-somos']">Conócenos</a>
    <a class="button1" [routerLink]="['/donations']">Apoya la fundación</a>
    <br><br><br>
    
  </div>
</div>
</div>


<div class="container">
    <h1 class="title" style="font-size:400%;">Haz la diferencia</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 20%; margin-right: 15%;">
        <div class="col">
          <div class="card h-100" style=" text-align: center;">
            <img src="././assets/images/feature-v1-2.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Contribuye con una donación acorde a tu presupuesto.</p>
            </div>
            <div class="card-footer"  style="background-color:white">
              <a class="button1" style="text-align: center;" [routerLink]="['/donations']">Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="././assets/images/feature-v1-3.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Brinda tu tiempo ayudando como voluntario.</p>
            </div>
            <div class="card-footer"  style="background-color:white">
              <a class="button1" style="text-align: center;" [routerLink]="['/donations']">Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="././assets/images/feature-v1-1.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Únete a la causa participando en nuestros programas.</p>
            </div>
            <div class="card-footer" style="background-color:white">
              <a class="button1" style="text-align:  center;" [routerLink]="['/programas']">Conocer más</a>
            </div>
          </div>
        </div>
      </div>
      <br>
</div>

<div class="sectionRectangle"></div>
<div class ="parallax bgTestimonies">
  <div class="half-opaque-img">
    <div class="insideText">
      <h1 class="title" style="font-size: 200%;">Testimonios</h1>
      <p class="pStyle">Conoce los testimonios de las personas que son parte de la fundación.</p>
      <a class="button1 btnTestStyle" [routerLink]="['/testimonies']" >Más Información</a>
    </div>
  </div>
</div>

<div class="sectionRectangle"></div>
<div class="container" >
  <h1 class="title" style="font-size: 400%; margin-top: 5%; margin-bottom: -10%;">Nuestros Héroes</h1>
  <section id="slider">
    <input type="radio" name="slider" id="s1" checked>
    <input type="radio" name="slider" id="s2">
    <input type="radio" name="slider" id="s3">
    <input type="radio" name="slider" id="s4">
    <input type="radio" name="slider" id="s5">
  
    <label for="s1" id="slide1"><img src="https://drive.google.com/uc?export=view&id=1JfZPYlMYwL02IMd5CRd4v6E9MLpWhKu_" alt=""></label>
    <label for="s2" id="slide2"><img src="https://drive.google.com/uc?export=view&id=1xIHNA36BeMeRb1V4p7mcKJbeJXm5_4R2" alt=""></label>
    <label for="s3" id="slide3"><img src="https://drive.google.com/uc?export=view&id=1N2L66tG_l8C8RMZB2wTZrko0gqAJF1W8" alt=""></label>
    <label for="s4" id="slide4"><img src="https://drive.google.com/uc?export=view&id=1nMyRAcnD4tEGHfRYOhWkcAQiDGAfb5PO" alt=""></label>
    <label for="s5" id="slide5"><img src="https://drive.google.com/uc?export=view&id=1nTBbfxR8vcaRGdokm3e_aZmAqdaqvowv" alt=""></label>
  </section>
  <div style="text-align: center;  margin-top:-5%;">
    <a class="button1" [routerLink]="['/heroes']">Conoce sus historias</a>
    <br><br><br>
  </div>
</div>

<div class="sectionRectangle"></div>
<div class="container">
  <h1 class="title" style="font-size: 400%; margin-top: 5%;">Nuestros Programas</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 10%; margin-right: 10%;">
    <div class="col">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <img src="././assets/images/abriendo caminos.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
        <div class="card-body">
          <span class="tag tag-teal">Abriendo Caminos</span>
          <p class="card-text" style="text-align: center;">Patrocina la educación de nuestros pacientes</p>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/programas']">Conocer más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <img src="././assets/images/corazon voluntario.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
        <div class="card-body">
<span class="tag tag-teal">Corazon Voluntario</span>
          <p class="card-text" style="text-align: center;">Patrocina locales para ayuda médica</p>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/programas']">Conocer más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <img src="././assets/images/celebra conmigo.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
        <div class="card-body">
<span class="tag tag-teal">Celebra Conmigo</span>
          <p class="card-text" style="text-align: center;">Otorga una celebración a nuestros pacientes</p>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/programas']">Conocer más</a>
        </div>
      </div>
    </div>
<div class="col">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <img src="././assets/images/buen provecho.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10%;" alt="...">
        <div class="card-body">
<span class="tag tag-teal">Buen Provecho</span>
          <p class="card-text" style="text-align: center;">Dale de comer a nuestros pacientes</p>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/programas']">Conocer más</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


<div class="sectionRectangle"></div>
<div>
  <!-- <h1 class="title" style="font-size: 400%; margin-top: 10%;">Contáctenos</h1> -->
  <div class="bgWrapper sectionTitle">
    <div class="bgImg">
        <div class="bgText">Contáctenos</div>
        <p class="bgParagraph">Bo. El Benque 3 Valle 8-9 Ave. S.O. San Pedro Sula, Hondoras C.A.</p>
        <contact-us-form class="bgImg"></contact-us-form>
    </div>
  </div>
</div>

<div class="sectionRectangle"></div>
<br>
<div class="container-fluid content-row">
  <h1 class="title" style="font-size:400%;">Nuestro Blog</h1>
  <div class="row" style="min-height: 550%; margin-left: 10%; margin-right: 10%;">
    <div class="col-md-4 align-items-stretch">
      <div class="card card-block h-100" style="background-color: #F2F2F2; text-align: center;">
        <div class="card-header">
          <h5>Andrea Nuñez</h5>
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Vacunas</span>
          <h4>La Fundacion apoya y promueve las vacunas</h4>
          <p >
            Utiliza gel, manten la distancia y usa tu mascarilla!
          </p>
          <div class="user">
            <img src="../../assets/images/vacunas.jpg" alt="user 1" />
            <div class="user-info">
              <small>Hace 2 horas</small>
            </div> 
         </div>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/blog']">Leer</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <div class="card-header">
          <h5>Gabriel Jimenez</h5>
        </div>
        <div class="card-body flex-fill">
          <span class="tag tag-teal">Dialisis</span>
          <h4>Aprende sobre el tratamiento que brindamos</h4>
          <p>
            La Dialisis es una enfermedad muy complicada, te llevamos a un paso a paso del tratamiento en la fundación
          </p>
          <div class="user">
            <img src="../../assets/images/dialisis.jpg" alt="user 2" />
            <div class="user-info">
              <small>Ayer</small>
            </div> 
         </div>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/blog']">Leer</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
        <div class="card-header">
          <h5>Maria Velazquez</h5>
        </div>
        <div class="card-body flex-fill">
          <span class="tag tag-teal">Medicamentos</span>
          <h4>Medicamentos donados por estudiantes de la UNAH</h4>
          <p>
            Fundación Padrino agradece a los estudiantes de la Carrera de Administración de la UNAH-VS por la generosa donación de medicamentos otorgada
          </p>
          <div class="user">
            <img src="../../assets/images/meds.jpg" alt="user 3"/>
            <div class="user-info">
              <small>20 Nov 2021</small>
            </div> 
         </div>
        </div>
        <div class="card-footer">
          <a class="button1" style="text-align: center;" [routerLink]="['/blog']">Leer</a>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=50494303497&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20el%20tema%20." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>

    <a href="https://www.facebook.com/FPADRINOHN" class="floating-btn" target="_blank">
    <i class="far fa-facebook-messenger "></i>
    </a>
    </div>
    <br>
</div>


<footer-comp></footer-comp>