.sectionRectangle{
    height: 120px;
    width: 100%;
    background-color: #8C8ADB;
}

.bgImgTest{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.half-opaque-img{
    background: rgba(255, 255, 255, 0.45);
    width: 50%;
    height: 100%;
    float: right;
    top: 0;
    right: 0;
    position: absolute;
}

.bgTestimonies{
    height: 100%;
    position: relative;
    background-image: url("https://drive.google.com/uc?export=view&id=1t2YUw7F1DBBeBDFx1lQw6JwiU4QKI4c8");
    overflow: hidden;
}

.insideText{
    text-align: center;
    font-family: roboto;
    vertical-align: middle;
    margin-top: 10vh;
}

.pStyle{
    font-style: italic;
    font-family: roboto;
    font-size: 24px;
    margin-left: 25%;
    margin-right: 25%;
}

.bgImg{
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bgImg::before{
    content: "";
    background-image: url("https://drive.google.com/uc?export=view&id=1HXE8tzkzwmSW003Kj6QjnDnuZ2kz5iZ7");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.bgWrapper{
    margin-top: 0%;
}

.bgText{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #522662;
    font-size: 3em;
    line-height: 0.9;
    text-align: center;
    padding-top: 12vh;
}

.bgParagraph{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #522662;
    font-size: 1.2em;
    line-height: 0.9;
    text-align: center;
    padding-top: 5vh;
}