.sectionRectangle{

    height: 1em;

    height: 10px;

    width: 100%;
    background-color: #8C8ADB;
}

.bgImgTest{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.half-opaque-img{
    background: rgba(255, 255, 255, 0.45);
    width: 50%;
    height: 100%;
    float: right;
    top: 0;
    right: 0;
    position: absolute;
}

.bgTestimonies{
    height: 100%;
    position: relative;
    background-image: url("https://drive.google.com/uc?export=view&id=1t2YUw7F1DBBeBDFx1lQw6JwiU4QKI4c8");
    overflow: hidden;
}

.insideText{
    text-align: center;
    font-family: roboto;
    vertical-align: middle;
    margin-top: 10%;
}

.pStyle{
    font-style: italic;
    font-family: roboto;
    font-size: 24px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.btnTestStyle{
    margin-top: 5%;
}

.bgImg{
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.bgImg::before{
    content: "";
    background-image: url("https://drive.google.com/uc?export=view&id=1HXE8tzkzwmSW003Kj6QjnDnuZ2kz5iZ7");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.bgWrapper{
    margin-top: 0%;
}

.bgText{
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #522662;
    font-size: 3em;
    line-height: 0.9;
    text-align: center;
    padding-top: 12vh;
}

.card-header img{
  width:35px;
  display: inline;
  float: left;
}

.card-body{
  position: relative;
}



.user img{
  width: 100%;
  height: 100%;
}
 
  
#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

.parallax {

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonsGif{
  padding-top: 60vh;
}

.responsive {
  height: 70vh;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/images/FP6.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  vertical-align: bottom;
}

.responsive::before{
    content: "";
    background-image: url(../../assets/images/FP6.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .card-body h4 {
    margin: 10px 0;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  
  .tag {
    background-color: #fff;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 2px 10px;
    text-transform: uppercase;
  }
  
  .tag-teal {
    background-color: #92d4e4;
  }
  
  .tag-purple {
    background-color: #3d1d94;
  }
  
  .tag-pink {
    background-color: #c62bcb;
  }
  
  .user {
    display: flex;
    margin-top: auto;
  }
  
  .user img {
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    width: 40px;
  }
  
  .user-info h5 {
    margin: 0;
  }
  
  .user-info small {
    color: #888785;
  }
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  .float:hover {
    text-decoration: none;
    color: #25d366;
    background-color:#fff;
  }
  
  .my-float{
    margin-top:16px;
  }

  .floating-btn{
    width: 60px;
    height: 60px;
    background-color: #3b5998;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    position: fixed;
    right: 40px;
    bottom: 120px;
  }

  .floating-btn:hover {
    text-decoration: none;
    color: #3b5998;
    background-color:#fff;
  }

  



  
  @media (max-width: 940px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  body {
    background-color: #f5f7fa;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    background-color: #F2F2F2
}

h1 {
    text-align: center;
    color: #333333
}

.cardcontainer {
    width: 400px;
    height: 650px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s
}

.cardcontainer:hover {
    box-shadow: 0 0 45px gray
}

.photo {
    height: 300px;
    width: 100%
}

.photo img {
    height: 100%;
    width: 100%
}

.txt1 {
    margin: auto;
    text-align: center;
    font-size: 17px
}

.content {
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px
}

.photos {
    width: 90px;
    height: 30px;
    background-color:#5F2E74;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px
}

.txt4 {
    font-size: 23px;
    position: relative;
    top: 10px
}

.txt5 {
    position: relative;
    top: 34px;
    color: #2C73B5;
    font-size: 16px;
    word-break: break-all;
}

.txt2 {
    position: relative;
    top: 10px
}

.cardcontainer:hover>.photo {
    height: 200px;
    animation: move1 0.5s ease both
}

@keyframes move1 {
    0% {
        height: 300px
    }

    100% {
        height: 200px
    }
}

.cardcontainer:hover>.content {
    height: 300px
}

.footer {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px
}

.btn {
    position: relative;
    top: 20px;
}

#heart {
    cursor: pointer
}

.like {
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
    color: #333333
}

.fa-gratipay {
    margin-right: 10px;
    transition: 0.5s
}

.fa-gratipay:hover {
    color: #E74C3C
}

.txt3 {
    color: gray;
    position: relative;
    top: 18px;
    font-size: 14px
}

.comments {
    float: right;
    cursor: pointer
}

.fa-clock,
.fa-comments {
    margin-right: 7px
}
