<div class="container">
    <h1>Aquí va landing page</h1>
</div>


<div class="container">
    <h1 class="title">Haz la diferencia</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 20%; margin-right: 15%;">
        <div class="col">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">Contribuye con una donación acorde a tu presupuesto.</p>
              <a href="something" class="button1" >Conocer más</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Brinda tu tiempo ayudando como voluntariado.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Únete a la causa participando en nuestros programas.</p>
            </div>
          </div>
        </div>
      </div>
</div>