<navbar></navbar>

<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Donaciones</h1>
    <br>
</div>

<div class="container">
    <h2 class="textDonations">Hay muchas formas de apoyarnos...</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Apoyando en el transporte de los pacientes y de sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Colaborando con donaciones de insumos para los pacientes y sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Participando en nuestros programas y actividades para recaudación de fondos.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Convirtiéndose en voluntario.</p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="sectionRectangle"></div>
    <div class="container">
      <h1 class="textDonations" style="margin-top: 5%;">¿Cómo puedes donar?</h1>
      <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 10%; margin-right: 10%;">
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1vGbs3xMzA3TX0d6KkdWs3ZO4LQ257iPn" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            <div class="card-footer" style="background-color:white">
              <a class="button2" style="text-align: center;" [routerLink]="['/donations']">GoFundMe.com</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1EdRiywnYhv5JoALQuJPRoCbDbRmeZGX0" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
          
            <div class="card-footer" style="background-color:white">
              <a class="button2" style="text-align: center;" [routerLink]="['/donations/paypal']">PayPal</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1eKG1w9yV2e03jtG2oGmvVlrWX-48z-gE" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            
            <div class="card-footer" style="background-color:white">
              <a class="button2" style="text-align: center;" [routerLink]="['/donations']">Botón de Pago</a>
            </div>
          </div>
        </div>
    <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1UC2vySff_KCMGSe730iDmVye8WAVWUOB" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            
            <div class="card-footer" style="background-color:white">
              <a class="button2" style="text-align: center;" [routerLink]="['/donations']">Depósito Bancario</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
 
    <br><br>
</div>

<footer-comp></footer-comp>