<navbar></navbar>

<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Donaciones</h1>
    <br>
</div>

<div class="container">
    <h2 class="textDonations">Hay muchas formas de apoyarnos...</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Apoyando en el transporte de los pacientes y de sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Colaborando con donaciones de insumos para los pacientes y sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Participando en nuestros programas y actividades para recaudación de fondos.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Convirtiéndose en voluntario.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2 class="textDonations">Cómo donar</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin-left: 20%; margin-right: 15%;">
        <div class="col d-flex align-items-stretch">
          <div class="card h-100 " style="background-color: #F2F2F2; text-align: center;">
            <img src="././assets/images/gofundme-logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
              <p class="card-text" style="text-align: center;">Gofundme</p>
            </div>
          </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
              <img src="././assets/images/paypal-logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
              <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text" style="text-align: center;">PayPal</p>
              </div>
            </div>
        </div>
        <div class="col d-flex align-items-">
            <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
              <img src="././assets/images/bac-logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
              <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text" style="text-align: center;">Bac Credomatic</p>
              </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100" style="background-color: #F2F2F2; text-align: center;">
              <img src="././assets/images/cuenta-logo.png" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
              <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text" style="text-align: center;">Directamente a nuestras cuentas</p>
              </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<footer-comp></footer-comp>