<navbar></navbar>

<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Donaciones</h1>
    <br>
</div>

<div class="container">
    <h2 class="textDonations">Hay muchas formas de apoyarnos...</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Apoyando en el transporte de los pacientes y de sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Colaborando con donaciones de insumos para los pacientes y sus familias.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Participando en nuestros programas y actividades para recaudación de fondos.</p>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-stretch">
            <div class="card h-100 border-info mb-3" style="max-width: 18rem;">
                <div class="card-body flex-fill" style="display: flex; justify-content: center; align-items: center;">
                <p class="card-text">Convirtiéndose en voluntario.</p>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="sectionRectangle"></div>
    <div class="container">
      <h1 class="textDonations" style="margin-top: 5%;">¿Cómo puedes donar?</h1>
      <div class="row row-cols-1" style=" margin-left: auto; margin-right: auto; width: 18em">
    <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1UC2vySff_KCMGSe730iDmVye8WAVWUOB" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            
            <div class="card-footer" style="background-color:white">
              <a class="button2" style="text-align: center;" (click)="open(content);">Depósito Bancario</a>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <div class="sectionRectangle"></div>
    <div class="container">
      <h3 class="textDonations" style="margin-top: 5%;">Proximamente</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 10%; margin-right: 10%;">
        
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1vGbs3xMzA3TX0d6KkdWs3ZO4LQ257iPn" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1EdRiywnYhv5JoALQuJPRoCbDbRmeZGX0" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
          
          </div>
        </div>
        <div class="col">
          <div class="card h-100" style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1eKG1w9yV2e03jtG2oGmvVlrWX-48z-gE" style="display: block; margin-left: auto; margin-right: auto; width: 100%; margin-top: 10%;" alt="...">
            
          </div>
        </div>
      </div>
      <br>
    </div>
 
    <br><br>
</div>


  <!-- MODAL -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Información Número de Cuenta</h4>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')" style="background-Color: #852E88;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="https://drive.google.com/uc?export=view&id=1Av2bPBoIRdpH1XrC_UCer7BRYkKzg2j5" style="width: 100%; height: 100%;">
      <br><br>
      <h5 style="text-align: center;">Banco Atlántida: 020111011282</h5>
    </div>
    
  </ng-template>


<footer-comp></footer-comp>