<navbar></navbar>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap" rel="stylesheet">

<div style="margin-top: 300px;"></div>
<h4 class="d-flex justify-content-center" style="margin-top: 170px; font-size: 200%; font-family: 'Roboto', sans-serif;">No has verificado tu cuenta presiona aqui para reenviar el correo de verificación</h4>


<div class="d-flex justify-content-center" style="margin-top: 50px;">
    <button class="button1" (click)= "reenviarCorreo()">Reenviar</button>
</div>

