body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
 
  body {
    background-color: #f5f7fa;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }