<navbar></navbar>
<div class="sectionTitle" >
    <h1 class="sectionTitleText" >Blog</h1>
</div>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let blog of fullList">
            <div class="cardcontainer">
                <div class="photo"> <img src="inputPic(blog.imagenPreview)" >
                    <div class="photos"></div>
                </div>
                <div class="content"> 
                    <p class="txt4">{{blog?.titulo}}</p>
                    <p class="txt5">{{blog?.resumen}}</p>
                 </div>
                <div class="footer">
                    <p><a class="waves-effect waves-light btn" href="#">Leer mas</a></p>
                    <p class="txt3"><i class="far fa-clock"></i>{{blog?.fechaCreacion}}</p>
                </div>
            </div>
            </div>
      </div>

    <footer-comp></footer-comp>