<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Testimonio</title>   
  </head>
  <body>
    <div class="main-block">
      <h1 style="color:#1c87c9 ;">Agregar Testimonio</h1>
      <form action="/">
        <div class="info">
          <input class="fname" type="text" name="name" placeholder="URL Facebook" required>
          <input type="text" name="name" placeholder="Titulo del Video" required>
          <select>
            <option value="text" disabled selected>Estado</option>
            <option value="Disponible">Disponible</option>
            <option value="Ocultar">Ocultar</option>
          </select>
        </div>
        <button button
        type="button"
        class="btn btn-success">Salvar</button>
      </form>
      </div>
  </body>
</html>