<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Testimonio</title>   
  </head>
  <body>
    <div class="main-block">
      <h1 style="color:#1c87c9 ;">Agregar Testimonio</h1>
      <form action="/">
        <div class="info">
          <input class="fname" type="text" name="name" placeholder="URL Facebook"  [(ngModel)]="url" required>
          <input type="text" name="name" placeholder="Titulo del Video" [(ngModel)]="titulo" required>
          <select (change)="onSelectedChange($event)" required>
            <!-- <option [value]="Disponible" disabled selected >Estado</option>
            <option [value]="Disponible">Disponible</option>
            <option [value]="Ocultar">Ocultar</option> -->
            <option *ngFor="let opcion of opciones" [ngValue]="opcion">{{opcion}}</option>

          </select>
        </div>
        <button button
        type="button"
        (click)="agregarTestimonio()"
        class="btn btn-success">Salvar</button>
      </form>
      </div>
  </body>
</html>