<app-navbar-portal-admin></app-navbar-portal-admin>
  <div id="function-list">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Funciones administrativas
      </a>
      <a (click)="fnEditUserProfile()" class="list-group-item list-group-item-action">Editar perfil</a>
      <a href="#" class="list-group-item list-group-item-action">Crear nuevo usuario</a>
      <a href="#" class="list-group-item list-group-item-action">Modificar usuario existente</a>
      <a href="#" class="list-group-item list-group-item-action">Eliminar usuario existente</a>
      <a href="#" class="list-group-item list-group-item-action">Ver lista de usuarios</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Funciones de 
      </a>
      <a href="#" class="list-group-item list-group-item-action">C</a>
      <a href="#" class="list-group-item list-group-item-action">M</a>
      <a href="#" class="list-group-item list-group-item-action">E</a>
      <a href="#" class="list-group-item list-group-item-action">V</a>
    </div>
  </div>

  <div>
    <img class="imagen_opaca" src="assets/images/Logo-FP-1-Medium.png" alt="">
  </div>