<div style="background-color: white;">
    <div class="container table-testimonies">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-bordered">
          <thead class="table-header" class="userRowHover">
            
            <tr>
              <th style="text-align: center;">Titulo</th>
              <th style="text-align: center;">Descripcion</th>
              <th style="text-align: center;">Fecha</th>
              <th style="text-align: center;">Categorias</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let articulo of articuloList" class="userRowHover">
              <td class="rowInfo" style="text-align: center;">{{articulo.Titulo }}</td>
              <td class="rowInfo" style="text-align: center;">{{articulo.Descripion}}</td> 
              <td class="rowInfo" style="text-align: center;">{{articulo.Fecha}}</td> 
              <td class="rowInfo" style="text-align: center;">{{articulo.Categorias}}
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>>