<div style="background-color: white;">
<table class="table table-striped table-bordered">
    <thead class="table-header">
        <tr>
           <th>Título</th>
           <th>Descripción</th>
           <th>Fecha</th>
           <th>Categorías</th>
           <th>Imagen</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of Blog" class="userRowHover" (click)="open(content, articulo.$key, articulo.titulo, articulo.descripcion, articulo.fecha, articulo.categorias); onSelect(articulo, articulo.imagenPreview )">
            <td class="rowInfo">{{articulo.titulo}}</td>
            <td class="rowInfo">{{articulo.descripcion}}</td>
            <td class="rowInfo">{{articulo.fechaCreacion}}</td>
            <td class="rowInfo">{{articulo.categorias}}</td>
            <td class="styleImg"><img src="{{articulo.imagenPreview}}"></td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
   <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">Editar Artículo</h4>
       <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
   <div class="modal-body">
    <form>
        <div class="form-group">
            <label for="titulo">Título</label>
            <div class="input-group">
                <input id="titulo" type="text" class="form-control" placeholder="titulo" name="dp">
            </div>
        </div>
        <div class="form-group">
          <label for="contenido">Descripción</label>
          <div class="input-group">
            <textarea name="descripcion" class="form-control" id="descripcion" cols="60" rows="4" placeholder="Lorem Ipsum" style="resize: none; margin-bottom: 1em;"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div id="tiny" class="styleFormElem justify-content-center">
            <label for="contenido" class="form-label">Contenido</label>
            <editor
              class="centered"
              id="contenido"
              [init]="{
                 base_url: '/tinymce',
                 suffix: '.min',
                 height: 300,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor codesample',
                   'searchreplace visualblocks code fullscreen image imagetools',
                   'insertdatetime media table paste code help wordcount'
                 ],
                codesample_languages: [
                  { text: 'TypeScript', value: 'typescript' },
                  { text: 'JavaScript', value: 'javascript' },
                  { text: 'HTML/XML', value: 'markup' },
                  { text: 'CSS', value: 'css' }
                ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image codesample'
               }"
            ></editor>
          </div>
        </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <div class="input-group">
              <div class="custom-select" style="width:200px;" id="custom-select">
                <input type="date" id="fechaCreacion" class="form-control" name="fechaCreacion" id="fechaCreacion" placeholder="fechaCreacion">
              </div>
            </div>
            <div class="">
              <ng-selectize
                [(ngModel)]="categorias" 
                id="categorias"
                name="categorias"
                [config]="config" 
                [options] = "categoriasList"
                (ngModelChange)="changed()"
                placeholder="Categorías"
                required
              ></ng-selectize>
            </div>
          </div>
          <div class="form-group">
            <label for="url">Url Imagen</label>
            <div class="input-group">
                <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                    <label class="custom-file-upload">
                      <input (change)="onChangeFile($event)" type="file" id="url" accept="image/png, image/jpeg"/>
                      Agregar imagen...
                    </label>
                  </div>
              
            </div>
        </div>
    </form>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger pull-left" (click)="open(confirmation, articuloSelectedId, articuloSelectedName, articuloSelectedDescription, articuloSelectedfecha, articuloSelectedCategorias); onDeleteConfirmation(articuloSelectedName); modal.close('Delete Click');">Eliminar</button>
      <button type="submit" id="saveBtn" class="btn btn-outline-dark" (click)="modal.close('Save click'); saveArticulo();">Guardar</button>
    </div>
   </div>
</ng-template>

<ng-template #confirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">¿Seguro que desea eliminar el Articulo?</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input id="nameDelete" class="form-control" placeholder="ejemplo@gmail.com" name="dp" readonly>
          <div class="input-group-append">
            <!-- <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button> -->
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger pull-left" (click)="deleteArticulo(); modal.close('Delete Click'); ">Eliminar</button>
    <button type="submit" id="saveBtn" class="btn btn-outline-dark" (click)="modal.close('Save click');">Cancelar</button>
  </div>
</ng-template>

</div>