
<!--app-navbar-portal-admin (toggleTestimonies)="toggleTestimoniesHandler($event)"--><!--/app-navbar-portal-admin-->
  <div class="container table-testimonies">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-dark table-striped table-bordered">
      <thead class="table-header">
        
        <tr>
          <th style="text-align: center;"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-basic-title" onclick="open( testimonio?.titulo, testimonio.video_url);">
            Editar
          </button></th>
          <th style="text-align: center;">Titulo</th>
          <th style="text-align: center;">Testimonio</th>
          <th style="text-align: center;">Estado</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let testimonio of testimonyList" class="userRowHover" >
          <td class="rowInfo" style="text-align: center; width: 0%;"></td>
          <td class="rowInfo" style="text-align: center;">{{ testimonio?.titulo }}</td>
          <td class="rowInfo" style="text-align: center;"><iframe [src]="inputVideo(testimonio.video_url)"></iframe></td>
          <td class="rowInfo" style="text-align: center;">{{testimonio?.visible}}</td>   
        </tr>
      </tbody>
    </table>
  </div>

<!-- Modal -->
<div class="modal fade" id="modal-basic-title" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Modificar Testimonio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 style="color:#1c87c9 ;">Cambiar disponibilidad en la página</h3>
        <form action="/">
          <div class="info">

            <select (change)="onSelectedChange2($event)" style="text-align: center; margin-left: 15%;" required>
              <option *ngFor="let testimonio of testimonyList" style="margin-left: 50%;" [ngValue]="titulo">{{ testimonio?.titulo}}</option>
            </select>
            <select (change)="onSelectedChange($event)" style="text-align: center; margin-left: 5%;" required>
              <option *ngFor="let opcion of opciones" style="margin-left: 50%;" [ngValue]="opcion">{{opcion}}</option>
            </select>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="submitTestimony" class="btn btn-primary" (click)="modificarTestimonio();" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


