
<navbar></navbar>
<div class="sectionTitle" >
  <h1 class="sectionTitleText"  >Nuestros Héroes</h1>
  <br><br><br>
  <div class="grid-container">
    <h3 class="d-flex justify-content-center" style="margin: auto;
    width: 60%;
    border: 5px solid #522662;
    padding: 10px;">Héroes en la Tierra</h3>
    <tr *ngFor="let heroe of heroesList;">
      <div *ngIf="heroe.fallecido == 'no'">
        <div class="col" style="margin: auto;
        width: 60%;
        padding: 10px;">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center; ">
            <img src={{heroe.imageUrl}} style="height: 30%; width: 30%; display: block; margin-left: auto; margin-right: auto;">
            <div class="card-body">
              <p class="card-text" style="text-align: center; font-size: 150%;">{{heroe.nombre}}</p>
            </div>
            <div class="card-body">
              <p class="card-text" style="text-align: center; font-size: 100%;">{{heroe.contenido}}</p>
            </div>
          </div>
        </div>
      </div>
    </tr> 
    <br><br><br>

      <h3 class="d-flex justify-content-center" style="margin: auto;
      width: 60%;
      border: 5px solid #522662;
      padding: 10px;">Héroes en el Cielo</h3>
      <tr *ngFor="let heroe of heroesList;"> 
      <div *ngIf="heroe.fallecido == 'si'">
        <div class="col" style="margin: auto;
        width: 60%;
        padding: 10px;">
          <div class="card h-100" style="background-color: #F2F2F2; text-align: center; -webkit-filter: grayscale(100%);
          filter: grayscale(100%);">
            <img src={{heroe.imageUrl}} style="height: 30%; width: 30%; display: block; margin-left: auto; margin-right: auto;">
            <div class="card-body">
              <p class="card-text" style="text-align: center; font-size: 150%;">{{heroe.nombre}}</p>
            </div>
            <div class="card-body">
              <p class="card-text" style="text-align: center; font-size: 100%;">{{heroe.contenido}}</p>
            </div>
            
          </div>
        </div>
      </div>
    </tr>
    
  </div>
  
</div>
<footer-comp></footer-comp>
