<div class="sectionTitle" >
  <h1 class="sectionTitleText" >Nuestros Héroes</h1>
</div>
<!--Main Navigation-->
<header>
    <style>
      /* Carousel styling */
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }
  
      .carousel-item:nth-child(1) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
  
      .carousel-item:nth-child(2) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
  
      .carousel-item:nth-child(3) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #introCarousel {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: #fff !important;
      }
    </style>

    <!-- Carousel wrapper -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div
                 class="bg-image hover-overlay ripple shadow-2-strong"
                 data-mdb-ripple-color="light"
                 >
                 <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F3110363782406843%2F&show_text=false&width=560&t=0" width="560" height="314" 
                 style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.15)"
                     ></div>
              </a>
            </div>
          </div>
  
          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Fundación Padrino</strong></h4>
            <p class="text-muted">
                #PadrinoTV Gracias a EDN TV por este espacio donde Padrino Tv muestra historias impactantes de personas que sufren de 
                la dificil enfermedad de la insuficiencia renal crónica. Nuestra misión como fundación es llevar apoyo a estas personas que tanto lo necesitan. 
                Si quiere unirse a nuestra familia comuniquese a los números 2552-2875 o al 9439-5624.
                #InsuficienciaRenalCrónica #YuliRamírez #paciente #IRC #ayuda #apoyanos #FundaciónPadrino
            </p>
            <p><strong>Historia de Yuli Ramirez</strong></p>
            <p class="text-muted">
                Yuli Ramírez, paciente con insuficiencia renal crónica | PadrinoTV.
                Conoce mas las historias de nuestros heroes aqui.
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->
  
      <hr class="my-5" />
  
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Historias de nuestros héroes</strong></h4>
  
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F2683108601928665%2F&show_text=false&width=560&t=0" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
                   allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Oscar Quiroz</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F656189621987005%2F&show_text=false&width=560&t=0" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
                   allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body"  style="margin-top: -10%;">
                <h5 class="card-title">Karen Hernandez</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F599757407354335%2F&show_text=false&width=560&t=0" width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" 
                   allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Don Jorge Damaso</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div
                     class="bg-image hover-overlay ripple"
                     data-mdb-ripple-color="light"
                     >
                     <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F945858702553175%2F&show_text=false&width=560&t=0" 
                     width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> 
                     <a href="#!">
                    <div
                         class="mask"
                         style="background-color: rgba(251, 251, 251, 0.15)"
                         ></div>
                  </a>
                </div>
                <div class="card-body" style="margin-top: -10%;">
                  <h5 class="card-title">Jersin Vega</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F2597958747121887%2F&show_text=false&width=560&t=0" 
                   width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Nolvia Madrid</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F572947456923505%2F&show_text=false&width=560&t=0" 
                   width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Judy Gutierrez</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F263974231364593%2F&show_text=false&width=560&t=0" 
                   width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Doña Saturnina Gonzales</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>


        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F1121916411514896%2F&show_text=false&width=560&t=0" 
                   width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Jose Dubon</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>


        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                   class="bg-image hover-overlay ripple"
                   data-mdb-ripple-color="light"
                   >
                   <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FFPADRINOHN%2Fvideos%2F1561887930658215%2F&show_text=false&width=560&t=0" 
                   width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                   <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.15)"
                       ></div>
                </a>
              </div>
              <div class="card-body" style="margin-top: -10%;">
                <h5 class="card-title">Neglin Sarmiento</h5>
                <p class="card-text" >
                  Some quick example text to build on the card title and make
                  up the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>

