<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<app-navbar-portal-admin></app-navbar-portal-admin>
<div class="testbox">
  <h1>Registro de usuarios</h1>

  <form action="/">
      <hr>
    <div class="accounttype">
      <input type="radio" value="Admin" id="radioOne" name="account" [(ngModel)]="rol" checked/>
      <label for="radioOne" class="radio" chec>Administrador</label>
      <input type="radio" value="Digitador" id="radioTwo" name="account" [(ngModel)]="rol" />
      <label for="radioTwo" class="radio">Digitador</label>
    </div>
  <hr>
  <label id="icon" for="email"><i class="icon-envelope "></i></label>
  <input type="text" name="email" id="email" placeholder="Email" [(ngModel)]="email" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="nombre" required/>
  <label id="icon" for="pass"><i class="icon-shield"></i></label>
  <input type="password" name="pass" id="pass" placeholder="Password" [(ngModel)]="pass" required/>
   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
   <button class="btn btn-primary" (click)="registrar()">Registrar</button>
  </form>
</div>